DATABASE_URL=postgresql://neondb_owner:npg_4u7ctQRNJHwL@ep-morning-brook-a4le4oqj-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BASE_URL=https://tinylink.onrender.com

